
{% extends 'base.html' %}

{% block content %}

   {{super () }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
<body>
<h1 >PITCHES</h1>
<h1>CATEGORIES</h1>
<a href="/pitches" class="badge progress-bar-success">Add Business Pitch</a>
<a href="/travel" class="badge progress-bar-success">Add any other pitch</a>
<h1>ALL PITCHES:</h1>
<h3><li>Petroleum selling company</li></h3>

 <a href="/come" class="badge progress-bar-warning  ">Add comment</a>
<h3><li>Banana selling company</li></h3>
<a href="/come" class="badge progress-bar-warning  ">Add comment</a>
</body>




{% for pitchess in lol %}
    {{pitchess.pitches}}
{% endfor %}





{% endblock %}

